# Compiled class files
*.class
bin/

# Log files
*.log

# Package files
*.jar
*.war
*.ear

# IntelliJ IDEA files
.idea/

# Eclipse files
.classpath
.project
.settings/

# Visual Studio Code files
.vscode/

# NetBeans files
nbproject/
build/
nbbuild/
dist/

# Temporary files
*.tmp

# macOS-specific
.DS_Store

# Windows-specific
Thumbs.db

# Sample Code
src/serialImplentation/